@model TwitterViewModel

@{
    Layout = "_Layout";
}

<h2>Details</h2>

<div>
    <h4>Twitter <a target="_blank" href="@Model.Url">@@@Model.ScreenName</a></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ScreenName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScreenName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FollowersCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowersCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FriendsCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FriendsCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileBackgroundImageUrl)
        </dt>
        <dd>
            <a target="_blank" href="@Model.ProfileBackgroundImageUrl">@Model.ProfileBackgroundImageUrl</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProfileImageUrl)
        </dt>
        <dd>
            <a target="_blank" href="@Model.ProfileImageUrl">@Model.ProfileImageUrl</a>
        </dd>
    </dl>
</div>

<div>
    <button class="btn btn-link" onclick="toggleDeleteTweetModal('@Model.TwitterId')">Delete</button> |
    <a asp-action="Saved">Back to List</a>
</div>

@await Html.PartialAsync("_DeleteTwitterModal")

@section Scripts{
    <script>
        var toggleDeleteTweetModal = function (id) {
            $("#delete-target-twitter-input").val(id);
            $("#delete-tweet-modal").modal('toggle');
        };
    </script>
}
