@model TwitterSearchViewModel

<br/>
<hr/>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <img src="@Model.ProfileImageUrl">
        </div>
        <div class="col-md-6">
            <div class="row">
                <h4 class="h4">@Model.Username</h4>
            </div>
            <div class="row">
                <a  href="@Model.Url">@@@Model.ScreenName</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label asp-for="Description"></label>
            <span>@Model.Description</span>
            <div class="row">
                <div class="col-md-2">
                    <label asp-for="FollowersCount"></label>
                    <span>@Model.FollowersCount</span>
                </div>
                <div class="col-md-2">
                    <label asp-for="FriendsCount"></label>
                    <span>@Model.FriendsCount</span>

                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-11 text-right">
            <form asp-controller="Twitter" asp-action="">
                <input asp-for="UserId" type="hidden" />
                <button type="submit" class="btn-link">Save @@@Model.ScreenName</button>
            </form>
        </div>
        <div class="col-md-1 text-right">
            <form asp-controller="Tweet" asp-action="GetUserTimeline">
                <input name="id" value="@Model.UserId" type="hidden" />
                <button type="submit" class="btn-link">Timeline</button>
            </form>
        </div>
    </div>
</div>

<div class="container" id="user-timeline"></div>

<div class="container">
    <div class="row">
      
        <div class="twPc-div">
            <a class="twPc-bg twPc-block"></a>
            <div>
             
                <a title="Name" href="@Model.Url" class="twPc-avatarLink">
                    <img alt="Pic" src="@Model.ProfileImageUrl" class="twPc-avatarImg">
                </a>
                <div class="twPc-divUser">
                    <div class="twPc-divName">
                        <a target="_blank" href="@Model.Url">@Model.Username</a>
                    </div>
                    <span>
                        <a target="_blank" href="@Model.Url"><span>@Model.Username.</span></a>
                    </span>
                </div>
                <div class="twPc-divStats">
                    <ul class="twPc-Arrange">
                        <li class="twPc-ArrangeSizeFit">
                            <a href="@Model.Url" title="9.840 Tweet">
                                <span class="twPc-StatLabel twPc-block">Followers</span>
                                <span class="twPc-StatValue">@Model.FollowersCount</span>
                            </a>
                        </li>
                        <li class="twPc-ArrangeSizeFit">
                            <a href="@Model.Url" title="885 Following">
                                <span class="twPc-StatLabel twPc-block">Friends</span>
                                <span class="twPc-StatValue">@Model.FriendsCount</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
         code end 
    </div>
</div>
