@model SavedTwittersViewModel

@{
    var twitterScreenName = Model.Twitters.FirstOrDefault()?.ScreenName;
    var twitterUrl = $"https://twitter.com/{twitterScreenName}";
}

<h3>Saved Twitter Accounts</h3>

<table class="table">
    <thead>
        <tr>
         
            <th scope="col">Username</th>
            <th scope="col">Description</th>
            <th scope="col">FollowersCount</th>
            <th scope="col">Link</th>
            <th scope="col">Delete</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var twitter in Model.Twitters)
        {
            <tr id="@twitter.TwitterId">

        <td>#@twitter.Username</td>
        <td>@twitter.Description</td>
        <td>@twitter.FollowersCount</td>
        
    
     
        
                <td><a href="@twitter.Url">link</a></td>
                <td>
             
               
                    <button type="submit" id ="deleteSingleTwitterAccount" data-name="@twitter.TwitterId" class="btn btn-danger">Remove</button>
              
                    </td>

       
               
        </tr>
            }
    </tbody>
</table>



