@model TwitterTimelineViewModel

@{
    var twitterUrl = $"https://twitter.com/{Model.Twitter.ScreenName}";
}

<h3>Tweets by <a href="@twitterUrl">@@@Model.Twitter.ScreenName</a></h3>

<table class="table">
    <thead>
    <tr>
        <th scope="col">TweetId</th>
        <th scope="col">CreatedOn</th>
        <th scope="col">RetweetsCount</th>
        <th scope="col">TweetUrl</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var tweet in Model.Tweets)
    {
        <tr>
            <td>#@tweet.Id</td>
            <td>@tweet.CreatedOn.Substring(0, tweet.CreatedOn.Length - 11)</td>
            <td>@tweet.RetweetCount</td>
            <td>
                @{
                    var tweetUrl = twitterUrl + $"/status/{tweet.Id}";
                }
                <a href="@tweetUrl">link</a>
            </td>
            <td><button class="btn btn-link tweet-details" onclick="tweetDetails('@Model.Twitter.ScreenName', '@tweet.Id')" >Details</button></td>
          
        </tr>
    }
    </tbody>
</table>

<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="details-modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a  class="currentTweetDetails btn btn-primary" data-name="">Save Tweet</a>
            </div>
        </div>
    </div>
</div>


