@model ICollection<TweetViewModel>

<h3>Saved tweets</h3>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Content</th>
            <th scope="col">CreatedOn</th>
            <th scope="col">RetweetsCount</th>
            <th scope="col">TweetUrl</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
        @{ var counter = 1; }


        @foreach (var tweet in Model)
        {
            <tr>
                <th scope="row">@counter</th>
                @if (tweet.IsTruncated)
                {
                    <td>@tweet.Content.Substring(0, tweet.Content.Length - 23)</td>
                }
                else
                {
                    <td>@tweet.Content</td>
                }
                <td>@tweet.CreatedOn</td>
                <td>@tweet.RetweetsCount</td>
                <td><a target="_blank" href="@tweet.Url">@tweet.Url</a></td>
                <td>
                    <button class="btn btn-link" onclick="tweetDetailsModalToggle('@tweet.Url', '@tweet.TweetId')">Details</button>
                    <button class="btn btn-link" onclick="toggleDeleteTweetModal('@tweet.TweetId')">Delete</button>
                </td>
            </tr>

            counter++;
        }
        </tbody>
    </table>
</div>

@await Html.PartialAsync("_SavedTweetDetails")

<div id="delete-tweet-modal" class="modal fade" style="display: none;">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <p>Do you really want to delete thit tweet? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete" asp-controller="Tweet" method="post">
                    <input id="delete-target-tweet-input" hidden name="id" value="" />
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var toggleDeleteTweetModal = function (id) {
        $("#delete-target-tweet-input").val(id);
        $("#delete-tweet-modal").modal('toggle');
    };
</script>

<script src="js/tweet-details.js"></script>