@using TwitterBackUp.DTO;
@model ICollection<TweetDto>
@if (Model.Count != 0)
{

    <p>@Model.FirstOrDefault().Entities.Urls.FirstOrDefault()</p>

    <p>@Model.FirstOrDefault().CreatedOn</p>
    <p>@Model.FirstOrDefault().TweetId</p>
    <p>@Model.FirstOrDefault().TweetContent</p>
    <p>@Model.FirstOrDefault().User.UserId</p>
    <p>@Model.FirstOrDefault().User.Username</p>

}
else
{
	       <h2>No Results</h2>  
	}